
*{
    font-family: Consolas, serif;
}

body{
    background-color: #3f9b9b;

    display: flex;
    align-items: center;
    justify-content: center;
}

div{



}

.navbar-material .nav-wrapper .brand-logo img {
    height: 64px;
}
